import { FC } from 'react';

import type { {{pascalCase name}}Props } from './{{kebabCase name}}.types';

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ foo }) => {
  return <div data-testid='{{kebabCase name}}'>{foo}</div>;
};
